<div class="row">
  <div class="col-md-12">

    <h2 class="project-title">
      <%= @project.title %>
    </h2>

      <%= image_tag @project.project_img.url(:project_show), class: "project-show"%>
    <div class="project-info">
      <p class="project-desc">
        <%= @project.description %>
      </p>

      <h4 class="project-author">
      <strong>Author:</strong>
        <%= @project.author %>
      </h4>

      <div class="links btn-group">

        <%= link_to 'Back', projects_path, class: "btn btn-custom" %>

        <% if user_signed_in? %>

        <% if @project.user_id == current_user.id %>

        <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-custom" %>

        <%= link_to 'Delete', project_path(@project),class: "btn btn-custom",
                    method: :delete,
                    data: { confirm: "Are you sure?" } %>
      </div>

    </div>

  </div>

</div>

<div class="row">

  <div class="col-md-4">

    <div class="reviews">


        <h1>Reviews</h1>

        <%= render @project.reviews %>

    </div>

      <div>
        <%= link_to "Add Review", new_project_review_path(@project), class: "btn btn-custom" %>
      </div>

  </div>

</div>



<%end%>
<%end%>

<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>
