<div class="row">
  <h2>
    <%= @project.title %>
  </h2>

  <%= image_tag @project.project_img.url(:project_show), class: "project-show"%>

  <p>
    <%= @project.description %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= @project.author %>
  </p>

</div>

<div class="row">

  <div class="col-md-4">

    <%= render @project.reviews %>

      <div>
        <%= link_to "Add Review", new_project_review_path(@project) %>
      </div>

  </div>

</div>

<%= link_to 'Back', projects_path %>

<% if user_signed_in? %>

<% if @project.user_id == current_user.id %>

<%= link_to 'Edit', edit_project_path(@project) %>

<%= link_to 'Delete', project_path(@project),
            method: :delete,
            data: { confirm: "Are you sure?" } %>

<%end%>
<%end%>
