<p><%= review.rating %></p>
<p><%= review.comment %></p>

<% if user_signed_in? %>

  <% if review.user_id == current_user.id %>

    <%= link_to 'Edit', edit_project_review_path(review.project, review), class: "btn btn-custom" %>
    <%= link_to 'Delete', project_review_path(review.project, review), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-custom" %>
    <%= link_to "Add Review", new_project_review_path(@project), class: "btn btn-custom" %>

  <% end %>

<% end %>
